<!DOCTYPE html>
<html>
<head>
<title>Flats</title>

<style type="text/css">
	h1 {
		color: green;
		text-align: center;
		font-family: "Helvetica";
		text-decoration: underline;
	}

	h2 {
		text-align: center;
		font-family: "Helvetica";
	}
	table.pos {
		border-collapse: collapse;
		empty-cells: hide;
		margin: 20px;
		padding-bottom: 30px;
	}
	table.flat_form_table {
		border-collapse: collapse;
	}
	table, th, td {
		border: 2px solid black;
		text-align: center;
		font-size: 12pt;
		font-family: "Helvetica";
	}
</style>
</head>

<body>
<h1>Flats</h1>
{% if position_data %}
	<table class="pos">
		<tr>
			<th>Position</th>
			<th>Tray Tag</th>
			<th>Kind</th>
			<th>Variety</th>
			<th>Seed Volume (g)</th>
			<th>Supplier</th>
			<th>Date Seeded</th>
			<th>Date Uncovered</th>
			<th>Date Harvested</th>
			<th>Edit</th>
			<th>Harvest?</th>
		</tr>
		{% for position in position_data %}
			<tr>
				<td>{{ position.id }}</td>
				<td>{{ position.tray_tag }}</td>
				<td>{{ position.kind }}</td>
				<td>{{ position.variety }}</td>
				<td>{{ position.seed_volume }}</td>
				<td>{{ position.supplier }}</td>
				<td>{{ position.date_seeded }}</td>
				<td>{{ position.date_uncovered }}</td>
				<td>{{ position.date_harvested }}</td>
				<td><form action="/tracking/{{ position.level.unit.farm.id }}/{{ position.level.unit.id }}/{{ position.level.id }}/{{ position.id }}/edit_flat/" method="get" name="editflat">{% csrf_token %}
					<input type="submit" value="Edit"></form></td>
				<td><form action="/tracking/{{ position.level.unit.farm.id }}/{{ position.level.unit.id }}/{{ position.level.id }}/{{ position.id }}/harvest_flat/" method="get" name="harvest_flat">{% csrf_token %}
					<input type="submit" value="Harvest"></form></td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<p>No positions are available.</p>
{% endif %}

<h2>Add Flat</h2>
<div id="addflat">
	<form action="/tracking/{{ level.unit.farm.id }}/{{ level.unit.id }}/{{ level.id }}/" method="post" name="addflat">{% csrf_token %}
		<table class="flat_form_table" align=center>
			<tr><th><label for="id_addflat">Tray Tag</label></th><td><textarea cols="20" id="id_addflat" name="tray_tag" rows="1"></textarea></td></tr>
			<tr><th><label for="id_addflat">Kind</label></th><td><textarea cols="20" id="id_addflat" name="kind" rows="1"></textarea></td></tr>
			<tr><th><label for="id_addflat">Variety</label></th><td><textarea cols="20" id="id_addflat" name="variety" rows="1"></textarea></td></tr>
			<tr><th><label for="id_addflat">Seed Volume</label></th><td><textarea cols="20" id="id_addflat" name="seed_volume" rows="1"></textarea></td></tr>
			<tr><th><label for="id_addflat">Supplier</label></th><td><textarea cols="20" id="id_addflat" name="supplier" rows="1"></textarea></td></tr>
			<tr><th><label for="id_addflat">Date Seeded</label></th><td><input type="date" id="id_addflat" name="date_seeded"></td></tr>
			<tr><th><label for="id_addflat">Date Uncovered</label></th><td><input type="date" id="id_addflat" name="date_uncovered"></td></tr>
			<tr><th><label for="id_addflat">Date of Harvest</label></th><td><input type="date" id="id_addflat" name="date_harvested"></td></tr>
			<tr><th><input type="submit" value="Insert Flat"></th></tr>
		</table>
	</form>
</div>
</body>
</html>